<div class="category-menu">
  @for(cat of cate_menu; track cat.id){
  <div
    class="category-card"
    (mouseenter)="cat.showDropdown = true; syncDropdownHeights()"
    (mouseleave)="cat.showDropdown = false"
  >
    <a [routerLink]="cat.link" class="category-link">
      <div class="img-container">
        <img [src]="cat.imageUrl" [alt]="cat.name" />
      </div>

      <!-- Label + Arrow in one row -->
      <div class="label-container">
        <span class="label">{{ cat.name }}</span>
        @if(cat.subcategories?.length){
        <span class="arrow" [class.open]="cat.showDropdown">▼</span>
        }
      </div>
    </a>

    <!-- Dropdown -->
    @if(cat.subcategories?.length && cat.showDropdown){
    <div class="dropdown sync-height">
      <ul>
        @for(sub of cat.subcategories; track sub.id){
        <li (mouseenter)="syncDropdownHeights()">
          <a [routerLink]="sub.link"
            >{{ sub.name }}
            @if(sub.subcategories.length){
            <span class="right-arrow">›</span>
            }
          </a>

          @if (sub.subcategories.length ) {
          <div class="dropdown-right sync-height">
            <ul>
              @for (child of sub.subcategories; track child.id) {
              <li>
                <a [routerLink]="child.link">{{ child.name }}</a>
              </li>
              }
            </ul>
          </div>
          }
        </li>
        }
      </ul>
    </div>
    }
  </div>
  }
</div>
