<div class="category-menu">
  @for(cat of cate_menu; track cat.id){
  <div
    class="category-card"
    (mouseenter)="cat.showDropdown = true; syncDropdownHeights()"
    (mouseleave)="cat.showDropdown = false"
  >
    <a [routerLink]="cat.link" class="category-link">
      <div class="img-container">
        <img [src]="cat.imageUrl" [alt]="cat.name" />
      </div>

      <!-- Label + Arrow in one row -->
      <div class="label-container">
        <span class="label">{{ cat.name }}</span>
        @if(cat.subcategories?.length){
        <span class="arrow" [class.open]="cat.showDropdown">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="12" height="12">
            <path
              d="M352 160c12.9 0 24.6 7.8 29.6 19.8s2.2 25.7-6.9 34.9l-160 160c-12.5 12.5-32.8 12.5-45.3 0l-160-160c-9.2-9.2-11.9-22.9-6.9-34.9S19.1 160 32 160l320 0z" />
          </svg>
        </span>
        }
      </div>
    </a>

    <!-- Dropdown -->
    @if(cat.subcategories?.length && cat.showDropdown){
    <div class="dropdown sync-height">
      <ul>
        @for(sub of cat.subcategories; track sub.id){
        <li (mouseenter)="syncDropdownHeights()">
          <a [routerLink]="sub.link"
            >{{ sub.name }}
            @if(sub.subcategories.length){
            <span class="right-arrow">›</span>
            }
          </a>

          @if (sub.subcategories.length ) {
          <div class="dropdown-right sync-height">
            <ul>
              @for (child of sub.subcategories; track child.id) {
              <li>
                <a [routerLink]="child.link">{{ child.name }}</a>
              </li>
              }
            </ul>
          </div>
          }
        </li>
        }
      </ul>
    </div>
    }
  </div>
  }
</div>
