.products {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: $space-10;
    padding: $space-10;
    // background: #f1f3f6;
    // margin: $m-10;
    margin-top: 0;
}

.filter {
    &-card {
        background-color: $white-clor; // fixed typo $white-clor -> $white-color

        &-brand {
            padding: $space-14;
            border-bottom: 1px solid $bg;

            &-header {
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                user-select: none;
                // padding: 8px 0;
                font-size: $space-12;
                font-weight: $font-weight-500;
                color: $black-color;
                // margin-bottom: $spacing-sm;

                .toggle-icon {
                    display: inline-block;
                    transition: transform 0.3s ease;
                }

                .toggle-icon.expanded {
                    transform: rotate(180deg);
                }
            }

            &-list {
                list-style: none;
                margin: 0;
                padding: 0;

                &-item {
                    display: flex;
                    align-items: center;
                    margin-bottom: $spacing-sm;

                    .brand-checkbox {
                        margin-right: $spacing-sm;
                        cursor: pointer;
                    }

                    label {
                        font-size: 13px;
                        color: #212121;
                        cursor: pointer;

                        &:hover {
                            color: $blue-color;
                        }
                    }
                }
            }

            &-more {
                font-size: 13px;
                color: $blue-color;
                cursor: pointer;
                font-weight: $font-weight-500;
                margin-top: $space-6;


            }

        }
    }

    &-heading {
        font-size: $space-18;
        font-weight: $font-weight-500;
        color: #212121;
        padding: $space-14;
        border-bottom: 1px solid $bg;
    }

    &-categories {
        padding: $space-14;
        border-bottom: 1px solid $bg;

        &-header {
            font-size: $space-12;
            font-weight: $font-weight-500;
            color: $black-color;
            margin-bottom: $spacing-sm;
        }

        &-list {
            list-style: none;
            margin: 0;
            padding: 0;

            &-item {
                display: flex;
                align-items: center;
                margin-bottom: $spacing-sm;
                color: $black-color;

                .arrow {
                    display: flex;
                    align-items: center;
                    margin-right: $space-6;
                    cursor: pointer;

                    svg {
                        fill: #878787;
                    }
                }

                .link {
                    text-decoration: none;
                    font-size: 13px;
                    color: #878787;
                    cursor: pointer;

                    &:hover {
                        color: $blue-color;
                    }
                }

                // 👉 Dark mode variant
                &--dark {
                    .link {
                        color: $black-color;
                        font-weight: $font-weight-500;
                    }

                    .arrow svg {
                        fill: $white-clor;
                    }
                }
            }
        }
    }


}


.product-list {
    display: flex;
    flex-direction: column;
    gap: $space-10;

    .product-card {
        overflow: hidden;
        background-color: $background-color;

        a {
            text-decoration: none;
            color: inherit;
        }

        .product-container {
            .add-cart {
                font-size: $space-14;
                color: #c2c2c2;
                cursor: pointer;
                margin: $space-10 5px 0 0;
            }

            display: flex;
            gap: 0;
            padding: 24px 0 30px 24px;

            .product-image {
                position: relative;
                width: 200px;
                flex-shrink: 0;
                margin: 5px 0 15px $space-20;

                img {
                    width: 100%;
                    height: 200px;
                    margin-bottom: $space-20;
                }

                .compare-box {
                    color: #212121;
                    display: inline-flex;
                    align-items: center;
                    gap: $spacing-sm;
                    cursor: pointer;
                    margin-top: $spacing-sm;
                    line-height: 1;
                    font-size: $space-13;
                    z-index: 1000 !important;
                    input[type="checkbox"] {
                        appearance: none;
                        -webkit-appearance: none;
                        width: $space-13;
                        height: $space-13;
                        border: 1px solid #c2c2c2;
                        border-radius: 2px;
                        cursor: pointer;
                        margin: 0;
                        margin-right: $spacing-sm;
                        position: relative;

                        &:checked {
                            background-color: $blue-color;
                            border-color: $blue-color;
                        }

                        &:checked::after {
                            content: "";
                            position: absolute;
                            top: 2px;
                            left: $spacing-xs;
                            width: $spacing-xs;
                            height: $spacing-sm;
                            border: solid $background-color;
                            border-width: 0 2px 2px 0;
                            transform: rotate(45deg);
                        }
                    }

                    span {
                        line-height: 1;
                        user-select: none;
                    }
                }

                .badge {
                    position: absolute;
                    top: $spacing-sm;
                    left: $spacing-sm;
                    background: #00a098;
                    color: white;
                    padding: 2px 6px;
                    font-size: $space-12;
                    border-radius: $spacing-xs;
                }
            }

            .product-details {
                width: 600px;

                .product-name {
                    font-size: $spacing-md;
                    font-weight: 600;
                    margin: 0;
                }

                .rating-box {
                    display: flex;
                    align-items: center;
                    font-size: $space-14;
                    margin: 0 0 $space-10 0;
                    color: #212121;

                    .rating-value {
                        background-color: $green-color;
                        color: $background-color;
                        font-weight: 500;
                        font-size: $space-12;
                        padding: 0 6px;
                        border-radius: $spacing-xs;
                        display: inline-flex;
                        align-items: center;
                        margin-right: $spacing-sm;

                        .star {
                            font-size: 11px;
                            margin-left: 2px;
                        }
                    }

                    .rating-count {
                        color: $fl-color;
                        font-size: $space-13;
                        font-weight: 500;

                        .and {
                            font-weight: 500;
                        }
                    }
                }


                .specs {
                    list-style-type: disc;
                    padding-left: $space-20;
                    font-size: $space-12;
                    margin: 0 0 $spacing-sm 0;

                    color: #000 li {
                        margin-bottom: 2px;
                    }
                }

                .specs li::marker {
                    color: #d7d7d7;
                }


            }

            .price-details {
                .pricing {
                    font-size: 25px;
                    font-weight: 500;
                    margin-bottom: $spacing-xs;
                    color: #212121;

                }

                .original-price {
                    text-decoration: line-through;
                    color: #888;
                }

                .discount {
                    color: $green-color;
                    margin-left: $spacing-xs;
                    font-size: $space-12;
                }

                .stock {
                    color: rgb(199, 0, 85);
                    font-size: $space-12;
                    font-weight: 700;
                }

                .exchange-offer {
                    color: rgb(0, 0, 0);
                    font-size: $space-14;
                    font-style: normal;
                    font-weight: 400;

                    .offer-price {
                        color: #000;
                        font-weight: 500;
                    }
                }

                .bank-offer {
                    font-size: $space-14;
                    color: $green-color;
                    font-weight: 400;
                }
            }
        }
    }
}


//feedback
.looking-for {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: $white-clor;
    padding: $space-16;


    .bottom-line {
        border-bottom: 1px solid #e9e3e3
    }

    .question-row {
        display: flex;
        align-items: center;
        gap: 10px; // small space only

        .para {
            font-weight: $font-weight-500;
            white-space: nowrap;
        }

        .buttons {
            display: flex;
            gap: 10px;

            .yes,
            .no {
                height: 30px;
                width: 70px;
                border: 1px solid #d8d8d8;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                user-select: none;
            }
        }

        .buttons .yes.active,
        .no.active {
            background-color: $light-blue;
            color: $blue-color;
            border: 1px solid $blue-color;
        }
    }

    .feedback-yes {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .textarea-heading {
            font-size: $space-13;
            color: #878787;
        }

        .textarea {
            flex: 1;
            padding: 8px;
            border: 1px solid $search-color;

            &:focus {
                border: 1px solid $blue-color;
            }
        }


        button {
            font-size: $space-12;
            font-weight: $font-weight-500;
            padding: 15px 60px;
            background-color: $blue-color;
            color: $white-clor;
            border: none;
            cursor: pointer;
            display: inline-block;
            border-radius: 4px;
            align-self: flex-start;
        }
    }

    .feedback-no {
        width: 311px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .option-heading {

            font-size: $space-13;
            color: #878787;
        }


        .select-wrapper {
            position: relative;
            width: 100%;

            select {
                width: 100%;
                padding: 8px 12px 12px 0;
                border: none;
                border-bottom: 1px solid #ccc; // base underline
                font-size: 13px;
                color: #333;
                appearance: none;
                cursor: pointer;
                outline: none;
                background: transparent;
                font-weight: $font-weight-500;
            }

            &::after {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 0;
                height: 2px;
                background-color: $blue-color;
                transform: translateX(-50%);
                transition: width 0.3s ease;
            }

            &:hover::after,
            &:focus-within::after {
                width: 100%;
            }

            &.open::after {
                width: 0;
            }
        }

    }
}