 .product-page {
   display: flex;
   gap: 15px;
   padding: 20px;
   margin: 0 70px 0 70px;
   background: white;

   // left side

   .main-lf-shu {
     position: sticky;
     top: 64px;
     bottom: 0;
     z-index: 2;
     -webkit-align-self: flex-start;
     -ms-flex-item-align: start;
     align-self: flex-start;

     .left-column {
       display: flex;
       border: 1px solid $bg;
       height: 448px;
       width: 510px;

       .thumbnails {
         display: flex;
         flex-direction: column;
         list-style: none;
         padding: 0;
         margin: 0;

         li {
           cursor: pointer;

           img {
             width: 60px;
             height: 60px;
             border: 1px solid #f1f3f6;
             transition: transform 0.2s, border 0.2s;
             padding: 5px;
             object-fit: contain;

             &:hover {
               border: 2px solid #2874f0;
             }
           }

           &.active img {
             border: 2px solid #2874f0;
           }
         }



       }

       .main-image {
         flex: 1;
         padding: 15px;
         cursor: crosshair;

         display: flex;
         justify-content: center;
         align-items: center;

         .sh-cur {
           position: relative;
           display: inline-block;

           img {
             display: block;
             max-width: 416px;
             max-height: 416px;
           }

           .lens {
             position: absolute;
             pointer-events: none;
             background-image: radial-gradient(rgba(0, 152, 255, 0.2) 2px, transparent 1px);
             background-size: 5px 5px;
           }
         }
       }
     }


     .product-actions {

       margin-top: 20px;
       display: flex;
       justify-content: flex-end;
       gap: 10px;



       button {
         width: 202px;
         height: 56px;
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 5px;
         padding: 12px 0;
         font-size: 16px;
         font-weight: 600;
         border: none;
         border-radius: 2px;
         cursor: pointer;
         transition: background 0.2s, transform 0.1s;


         svg {
           display: inline-block;
           vertical-align: middle;
         }

         &:hover {
           transform: translateY(-1px);
         }

         &.add-to-cart {
           background-color: #2874f0;
           color: #fff;

           svg path {
             fill: #fff;
           }

           &:hover {
             background-color: #0b5ed7;
           }
         }

         &.buy-now {
           background-color: #fb641b;
           color: #fff;

           &:hover {
             background-color: #e55a0b;
           }
         }
       }
     }

     /* Responsive: stack buttons on small screens */
     @media (max-width: 500px) {
       .product-actions {
         flex-direction: column;

         button {
           width: 100%;
         }
       }
     }


   }


   //  RIGHT SIDE
   .right-column {
     width: 70%;
     padding-left: 10px;
     position: relative;

     h1 {
       font-size: 24px;
       margin-bottom: 10px;
     }

     p {
       font-size: 16px;
       margin-bottom: 10px;
     }

     .zoom-box {
       position: absolute;
       top: 0;
       left: 0;
       width: 846px;
       height: 600px;
       background-repeat: no-repeat;
       background-size: 1200px 1200px;
       z-index: 10;
       overflow: hidden;
       border: 1px solid $bg;
       border-radius: 2px;
       box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
     }

     .sale-timer {
       background-color: #fffeeb;
       border: 1px solid $bg;
       display: flex;
       align-items: center;

       .sale-img {
         width: 50px;
         height: 50px;
         object-fit: contain;
       }

       .sale-info {
         display: flex;
         gap: 5px;

         .sale-text,
         .countdown {
           font-size: 0.9rem;
           color: #212121;
           font-weight: bold;
           font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
         }

       }
     }

     //  breadcrumb
     .breadcrumb {
       --bs-breadcrumb-item-padding-x: 2px;
       --bs-breadcrumb-margin-bottom: 0;

       .breadcrumb-item {
         display: flex;
         align-items: center;

         a {
           display: flex;
           align-items: center;
           color: $fl-color;
           font-size: 12px;
           cursor: pointer;
         }
       }
     }

     .product-container {
       padding: 0;

       .product-details {
         .product-name {
           font-size: 16px;
           font-weight: 400;
         }
       }
     }

     // Discount badge
     ._2lX4N0 {
       color: $green-color;
       font-size: 14px;
       font-weight: 500;
     }

     //  price
     .price-block {
       display: flex;
       align-items: center;
       gap: 10px;
       font-family: 'Roboto', sans-serif;

       .price-info {
         display: flex;
         flex-direction: column;
         gap: 4px;

         .price-row {
           display: flex;
           align-items: center;
           gap: 8px;

           .current-price {
             font-size: 26px;
             font-weight: 500;
             color: $black-color;
           }

           .original-price {
             font-size: 14px;
             font-weight: 400;
             color: $fl-color;
             text-decoration: line-through;
           }

           .discount-badge {
             display: inline-flex;
             align-items: center;
             justify-content: center;
             color: $green-color;
             font-weight: 500;
             font-size: 14px;

             span {
               display: inline-block;
             }
           }
         }
       }

       .price-icon-container {
         position: relative;
         display: inline-block;

         .price-icon {
           cursor: pointer;
           display: flex;
           align-items: center;
           position: relative;

           svg {
             width: 20px;
             height: 20px;
           }

           // Hide popover by default
           .price-details-popover {
             position: absolute;
             top: 28px;
             left: -19px;
             transform: translateY(-10px);
             visibility: hidden;
             z-index: 1000;
             min-width: 250px;
             background-color: #fff;
             border: 1px solid $search-color;
             border-radius: 6px;
             box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
             padding: 10px;
             font-family: 'Roboto', sans-serif;
             transition: all 0.3s ease;
             margin-top: 10px;

             // Outer triangle (border)
             &::before {
               content: "";
               position: absolute;
               bottom: 100%;
               left: 20px;
               border-width: 10px;
               border-style: solid;
               border-color: transparent transparent #eee transparent;
             }

             // Inner triangle (background)
             &::after {
               content: "";
               position: absolute;
               bottom: 100%;
               left: 21px;
               border-width: 8px;
               border-style: solid;
               border-color: transparent transparent #fff transparent; // matches popover background
             }



             .price-details-wrapper {
               display: flex;
               flex-direction: column;
               gap: 8px;

               .price-details-title {
                 font-weight: 500;
                 font-size: 13px;
               }

               .price-details-body {
                 display: flex;
                 flex-direction: column;
                 gap: 6px;

                 .price-row {
                   display: flex;
                   justify-content: space-between;
                   align-items: center;

                   .price-label {
                     font-size: 12px;
                     color: $fl-color;
                     font-weight: 500;

                     .price-sub-label {
                       font-size: 10px;
                       color: $fl-color;
                     }
                   }

                   .price-value {
                     font-size: 12px;
                     color: $black-color;
                     text-decoration: line-through;
                   }

                   .special-value {
                     font-weight: 500;
                     text-decoration: none;
                   }

                   &.special-price-row {
                     .special-label {
                       color: $black-color;
                       font-weight: 500;
                     }
                   }
                 }

                 .sale-price {
                   padding-bottom: 5px;
                   border-bottom: 1px dashed $search-color;
                 }
               }
             }
           }

           // Show popover on hover
           &:hover .price-details-popover {
             opacity: 1;
             visibility: visible;
             transform: translateY(0);
           }
         }
       }
     }


     // delivery
     .protect-delivery-container {
       display: flex;
       flex-direction: column;
       gap: 2px;
       font-family: 'Roboto', sans-serif;
       font-size: 13px;
       margin-top: 10px;

       .protect-fee {
         display: flex;
         align-items: center;
         gap: 6px;
         font-size: 14px;
         font-weight: 500;
         color: $light-dark;


         .learn-more {
           font-size: 13px;
           color: $blue-color;
           cursor: pointer;
         }
       }

       .delivery-info {
         display: flex;
         align-items: center;
         color: $light-dark;

         .delivery-text {
           font-size: 14px;
           font-weight: 400;
         }
       }
     }

     //bank offer
     .offers-container {
       font-family: 'Roboto', sans-serif;
       font-size: 13px;
       max-width: 100%;

       .offers-header {
         font-weight: 500;
         font-size: 16px;
         margin: 8px 0 8px 0;
         color: $black-color;
       }

       .offers-list {
         display: flex;
         flex-direction: column;
         gap: 10px;

         .offer-item {
           display: flex;
           align-items: center;
           font-size: 14px;
           gap: 6px;
           white-space: nowrap; // prevent wrapping
           flex-shrink: 0; // prevent shrinking in flex

           .offer-icon {
             width: 18px;
             height: 18px;
             flex-shrink: 0;
           }

           .offer-text {
             display: flex;
             align-items: center;
             gap: 4px;

             .offer-title {
               font-weight: 500;
               color: $black-color;
             }

             .offer-description {
               font-weight: 400;
               color: #1a1a1a;
             }

             .offer-tnc {
               font-size: 14px;
               color: $blue-color;
               font-weight: 400;
               cursor: pointer;
             }
           }
         }
       }

       .view-more-btn {
         font-size: 14px;
         margin-top: 8px;
         background: none;
         border: none;
         color: $blue-color;
         font-weight: 500;
         cursor: pointer;
         padding: 4px 0;
         text-align: left;

         &:hover {
           text-decoration: underline;
         }
       }
     }


     //exchange offer
     .exchange-options-container {
       display: flex;
       flex-direction: column;
       gap: 8px;
       border: 1px solid $search-color;
       border-radius: 2px;
       font-family: 'Roboto', sans-serif;
       max-width: 400px;

       .exchange-option {
         display: flex;
         align-items: flex-start;
         gap: 12px;
         padding: 15px;
         border-bottom: 1px solid $search-color;

         input[type="radio"] {
           display: none;
         }

         .radio-custom {
           width: 18px;
           height: 17px;
           border: 2px solid #999;
           border-radius: 50%;
           position: relative;
           cursor: pointer;


         }

         input[type="radio"]:checked+.radio-custom::after {
           content: '';
           position: absolute;
           top: 1px;
           left: 1px;
           width: 12px;
           height: 12px;
           background-color: $blue-color;
           border-radius: 50%;
         }

         .option-text {
           display: flex;
           flex-direction: column;
           width: 100%;

           .title-price {
             display: flex;
             align-items: center;
             justify-content: space-between;

             .option-title {
               font-weight: 400;
               color: $fl-color;
             }

             .option-price {
               font-weight: 500;
               color: $fl-color;
             }
           }

           .exchange-info {
             font-size: 13px;
             color: $red-color;
             margin-top: 4px; // space below title-price row
           }
         }

         &.disabled {
           //  opacity: 0.6;
           cursor: not-allowed;
         }
       }

     }

     //  .warranty-box
     .warranty-box {
       .warranty-img {
         width: 76px;
         height: 32px;
         border: 1px solid $search-color;
         position: relative;

         img {
           max-height: 100%;
           max-width: 100%;
           width: auto;
           height: auto;
           position: absolute;
           top: 0;
           bottom: 0;
           left: 0;
           right: 0;
           margin: auto;
           padding: 4px;
         }
       }

       .warranty-text {
         display: flex;
         flex-direction: row;
         align-items: center;
         gap: 10px;

         .main-text {
           font-size: 14px;
           color: #212121;
         }

         .know-more {
           font-size: 14px;
           color: $blue-color;
           cursor: pointer;
           margin-top: 2px;

           &:hover {
             text-decoration: underline;
           }
         }
       }
     }


     //product color option
     .option-row {
       margin: 15px 0;

       .option-title {
         font-size: 14px;
         margin-top: 2px;
         font-weight: 500;
         color: rgb(135, 135, 135);
         width: 110px;
         min-width: 110px;
         padding-right: 10px;
         position: relative;
       }

       .option-list {
         list-style: none;
         padding: 0;
         margin: 0;
         display: flex;
         gap: 10px;

         li {
           display: inline-flex;
           position: relative;
           margin: 0px 12px 4px 0px;
           font-size: 14px;
           background: rgb(255, 255, 255);
           font-weight: 500;
           color: rgb(0, 0, 0);
           text-align: center;
           border-radius: 2px;
           border: 2px solid rgb(224, 224, 224);
           height: 52px;
           width: 52px;
           background-position: 50% center;
           background-repeat: no-repeat;
           cursor: pointer;

           img {
             max-width: 100%;
             max-height: 100%;
             position: absolute;
             pointer-events: none;
             top: 50%;
             left: 50%;
             transform: translateX(-50%) translateY(-50%);
           }

           &:hover {
             border-color: #2874f0;
           }

           &.active {
             border: 2px solid #2874f0;
           }
         }
       }

       .wxy {
         li {
           font-size: 14px;
           height: 36px;
           width: 72px;
           padding: 6px 10px;
           border: 2px solid rgb(224, 224, 224);
           border-radius: 2px;
           min-width: 36px;
           align-items: center;
           position: relative;
         }
       }

     }

     //  .delivery-box
     .delivery-box {
       padding: 15px 0;

       .delivery-title {
         color: #878787;
         width: 110px;
         padding-right: 10px;
         font-weight: 500;
       }

       .ufyef {
         border-bottom: 2px solid #ff6161;
       }

       ._5zD2Em {
         padding: 0 0 4px;
         border: none;
         border-bottom: 2px solid #2874f0;
         font-weight: 500;
         display: -webkit-flex;
         display: -ms-flexbox;
         display: flex;
         -webkit-align-items: center;
         -ms-flex-align: center;
         align-items: center;
       }

       .delivery-form {
         display: inline-block;
         line-height: 25px;

         input {
           font-weight: 500;
           font-size: 14px;
           border: none;
           outline: none;
           width: auto;
           padding: 0;
           padding-left: 6px;
           vertical-align: middle;
         }

         .i40dM4.i40dM4 {
           font-weight: 500;
           cursor: pointer;
           font-size: 14px;
           color: #2874f0;
           margin-left: auto;
           position: relative;
         }

         .change-btn {
           font-size: 14px;
           color: #2874f0;
           padding: 0;
           text-decoration: none;

           &:hover {
             text-decoration: underline;
           }
         }
       }

       .delivery-msg {
         font-size: 13px;
         margin: 8px 0 0 110px;
       }
     }

     // highlights
     .highlights-payment {
       display: flex;
       gap: 20px;
       margin-top: 24px;

       .col-6 {
         flex: 1; // both equal width
       }

       .section {
         font-family: 'Roboto', sans-serif;
         font-size: 14px;
       }

       .section-title {
         font-weight: 500;
         color: #878787;
         width: 110px;
         padding-right: 10px;
         float: left;
       }

       .HQijVm,
       .wytuew {
         margin-left: 110px;

       }

       .section-list {
         list-style: none;
         padding: 0;
         margin-bottom: 0;

         li {
           color: #212121;
           padding: 0 0 8px 16px;
           position: relative;
         }

         li:after {
           content: "";
           height: 6px;
           width: 6px;
           position: absolute;
           top: 6px;
           left: 0;
           border-radius: 50%;
           background: #c2c2c2;
         }
       }

       .view-details {
         margin: 0 0 0 16px;
         color: #2874f0;
         cursor: pointer;
         font-weight: 500;


       }
     }

     .seller-section {
       .seller-wrapper {
         font-size: 14px;
         margin-top: 24px;
         display: flex;

         .seller-label {
           font-weight: 500;
           width: 110px;
           padding-right: 10px;
           color: #878787;
           float: left;
         }

         .seller-name {
           font-weight: 500;
           color: #2874f0;
           position: relative;
           display: inline;
           cursor: pointer;
         }

         .seller-rating {
           margin-left: 8px;
           border-radius: 10px;
           background: #2874f0;
           font-size: 11px;
           line-height: normal;
           display: inline-block;
           color: #fff;
           padding: 2px 4px 2px 6px;
           font-weight: 500;
           vertical-align: middle;
         }

         .seller-features {
           .features-list {
             margin: 12px 0 -4px;
             padding: 0;

             .feature-item {
               color: #212121;
               position: relative;
               padding-bottom: 8px;
               list-style: none;

               .feature-text {
                 margin-left: 17px;

                 .feature-help {
                   display: inline-block;
                   position: relative;

                   .question {
                     border-radius: 50%;
                     background-color: #fff;
                     color: #878787;
                     font-weight: 500;
                     width: 16px;
                     height: 16px;
                     font-size: 11px;
                     line-height: 16px;
                     text-align: center;
                     display: inline-block;
                     border: 1px solid #e0e0e0;
                     box-shadow: 0 0 1px 0 rgba(0, 0, 0, .2);
                     vertical-align: middle;
                     margin: 0 2px 0 8px;
                     cursor: pointer;
                   }
                 }
               }

               .feature-text:after {
                 content: "";
                 height: 6px;
                 width: 6px;
                 position: absolute;
                 top: 6px;
                 left: 0;
                 border-radius: 50%;
                 background: #c2c2c2;
               }
             }
           }
         }

         .other-sellers {
           margin-top: 8px;
           color: #212121;
           list-style: none;

           a,
           img {
             text-decoration: none;
             color: inherit;
             border: none;
             outline: none;
           }

           .see-other-sellers {
             color: #2874f0;
             font-weight: 500;
             cursor: pointer;
           }
         }
       }
     }

     //description

     .description-section {
       .description-wrapper {
         font-size: 14px;
         margin-top: 24px;

         .description-title {
           font-weight: 500;
           width: 110px;
           padding-right: 10px;
           color: #878787;
           float: left;

         }

         .description-content {
           position: relative;
           margin-left: 110px;
           color: #212121;
         }

         .description-read-more {
           cursor: pointer;
           font-size: 14px;
           color: #2874f0;
           font-weight: 500;
           margin-left: 110px;
         }
       }
     }

     //product description
     .XSQUa3 {
       margin-top: 24px;
       border-radius: 2px 2px 0 0;
       background-color: #fff;
       border: 1px solid #f0f0f0;
       border-bottom: none;
       padding: 24px;
       color: #212121;

       .Zg-WCR {
         font-size: 24px;
         font-weight: 500;
         line-height: 1;
       }

     }

     .pqHCzB {
       .CB-A\+e {
         padding: 24px;
         margin-top: -1px;
         border: 1px solid #f0f0f0;
         background-color: #fff;

         .Zhp430 {
           margin: 0 auto 5px 0;
           overflow: hidden;
           width: 200px;




           img {
             text-decoration: none;
             color: inherit;
             border: none;
             outline: none;
           }

         }

         .sR34dU {
           padding-left: 32px;
           float: right;
         }

         .IqfVRM {
           float: left;
           padding-right: 32px;
         }

         ._9GQWrZ {
           font-size: 20px;
           padding-bottom: 10px;
           font-weight: 400;
           color: #212121;
         }

         .AoD2-N {
           font-weight: 400;
           color: #212121;
           line-height: 1.29;

           p {
             font-size: 14px;
           }
         }

       }

       .CB-A\+e:after,
       .CB-A\+e:before {
         content: "";
         display: table;
       }

       .CB-A\+e:after {
         clear: both;
       }
     }

     .hJ2VAV {
       display: none;

       &.visible {
         display: block;
       }
     }

     .ik7Tlh {
       border-radius: 0 0 2px 2px;
       background-color: #fff;
       border: 1px solid #f0f0f0;
       width: 100%;
       text-align: left;
       font-size: 16px;
       color: #2874f0;
       font-weight: 400;
       padding: 24px;
       margin-top: -1px;
       box-shadow: none;
       display: inline-block;
       transition: box-shadow .2s ease;
       vertical-align: super;
       background: #fff;
       cursor: pointer;
       outline: none;

     }

     ._3Fm-hO {
       margin-top: 24px;
       border-radius: 2px;
       font-size: 12px;
       border: 1px solid #f0f0f0;

       ._8tSq3v {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 24px 30px 24px 24px;
         font-size: 24px;
         font-weight: 500;
         line-height: 1.14;
         color: #212121;
       }

       ._1OjC5I.pKBIUH {
         max-height: 350px;
         overflow: hidden;
         position: relative;

         &.expanded {
           max-height: none;
           overflow: visible;
         }
       }



       .GNDEQ- {
         border-top: 1px solid #f0f0f0;
         padding: 24px 24px 34px;
         font-size: 14px;

         ._4BJ2V\+ {
           padding-bottom: 16px;
           font-size: 18px;
           white-space: nowrap;
           line-height: 1.4;
           text-wrap: none;
         }

         ._0ZhAN9 {
           width: 100%;
           border-collapse: collapse;
         }


       }

       .WJdYP6 {
         padding-bottom: 12px;
       }

       .WJdYP6:last-child {
         padding: 0;
       }

       .\+fFi1w {
         color: #878787;
       }

       ._1OjC5I.pKBIUH:after {
         content: "";
         position: absolute;
         display: block;
         width: 100%;
         border-bottom: 1px solid #f0f0f0;
         height: 80px;
         background: linear-gradient(hsla(0, 0%, 100%, 0) 5%, #fff);
         bottom: 0;
       }

       ._4FgsLt {
         padding: 24px;
         width: 100%;
         text-align: left;
         margin-top: -1px;
         box-shadow: none;
         font-size: 16px;
         color: #2874f0;
         font-weight: 400;
         border-radius: 0 0 2px 2px;
         border: none;

         display: inline-block;
         transition: box-shadow 0.2s;
         vertical-align: super;
         background: rgb(255, 255, 255);
         cursor: pointer;
         outline: none;
       }
     }

     .Izz52n {
       line-height: 1.4;
       word-break: break-word;
       color: #212121;

       .HPETK2 {
         list-style: none;
         padding: 0;
       }
     }

     .Skletd_ {
       .pPAw9M {
         margin-top: 24px;
         border: 1px solid #f0f0f0;
         border-radius: 2px;

         .K5lpE5 {
           font-weight: 500;
           font-size: 24px;
           padding: 24px 0 0 24px;
         }

         .jvKz74 {
           text-align: right;
         }

         .YEbu1k {
           box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .26);
           border: none;
           font-size: 14px;
           color: #212121;
           padding: 16px 36px;
           cursor: pointer;
           margin: 18px 18px 0 0;
           display: inline-block;
           border-radius: 2px;
           font-weight: 500;
           transition: box-shadow .2s ease;
           vertical-align: super;
           background: #fff;
           outline: none;
         }

         ._8-rIO3 {
           position: relative;
         }

         .q4T7rk {
           padding: 24px;

           .HO1dRb {
             width: 45%;
           }

           .Nwhkb3 {
             width: 55%;

             .zsSYMX {
               cursor: pointer;
               text-align: center;

             }

             a {
               text-decoration: none;
               color: inherit;
               border: none;
               outline: none;
             }
           }
         }

       }
     }

     .ggs1\+C .ipqd2A,
     .ggs1\+C .u12NqW {
       display: inline-block;
       color: #212121;
     }

     .ggs1\+C .ipqd2A {
       font-size: 32px;
       margin-top: 4px;
     }

     .ggs1\+C .u12NqW {
       font-size: 28px;
       padding: 0 0 0 4px;
     }

     .j-aW8Z {
       font-size: 14px;
       color: #878787;
       text-align: center;
       white-space: normal;
       overflow-wrap: break-word;
     }

     ._4b4d6T {
       padding-left: 12px;
     }

     ._6w2YSo {
       border-right: 1px solid #f0f0f0;
     }

     .wNNofW.umNoyb {
       width: 100%;
       display: flex;
       flex-flow: nowrap;
       height: 100%;
     }

     .wNNofW {
       text-align: left;

       .x2IWCo {
         text-align: center;

         .Fig8YH {
           font-size: 12px;
           font-weight: 500;
           color: #212121;
           padding: 2px 0;
         }

         .kDyB8d {
           font-size: 12px;
           color: #212121;
           padding: 0 0 0 2px;
         }
       }

       .lpANVI {
         flex-basis: 16.66%;
       }

       .GwkPFK {
         flex-basis: 58.33%;
       }

       .\+psZUR {
         flex-basis: 25%;
       }

       .fQ-FC1 {
         padding: 1px 0 0;
         height: 20px;
         list-style: none;

         .rsSAZB {
           height: 5px;
           border-radius: 100px;
           position: relative;
           background: #f0f0f0;
           margin-top: 7px;
           margin-left: 7px;

           .DoUsN7 {
             width: 100%;
             left: 0;
             position: absolute;
             transform: scaleX(1);
             transform-origin: left center;
             transition: transform .4s cubic-bezier(0, 0, .3, 1) .3s, -webkit-transform .4s cubic-bezier(0, 0, .3, 1) .3s;
             height: 5px;
             border-radius: 100px;
           }

           ._3LjBlS,
           .CjJqlS,
           .\+mCBvS {
             background-color: #388e3c;
           }

           ._9VMLX8 {
             background-color: #ff9f00;
           }

           .SDgpiC {
             background-color: #ff6161;
           }

         }

         .BArk-j {
           font-size: 12px;
           color: #878787;
           padding: 0 5px 0 12px;
         }
       }
     }



   }

   ._5nb2hu .tobygM {
     padding: 12px 20px 0;
   }

   .y5U2lD {
     width: 100%;
     stroke-linecap: round;

     .FhjqaA {
       stroke: #f0f0f0;
     }

     .ucl9bG {
       stroke: #388e3c;
     }

     ._2DdnFS {
       fill: #212121;
       font-size: 28px;
       font-weight: 500;
       dominant-baseline: middle;
       text-anchor: middle;
     }
   }
 }

 //  small image css
 .thumbnail-wrapper {
   position: relative;
   width: 60px;
   overflow: hidden;

   .thumbnails {
     overflow-y: auto;
     max-height: 416px;
     scrollbar-width: none;
     -ms-overflow-style: none;

     &::-webkit-scrollbar {
       display: none;
     }
   }

   .arrow {
     position: absolute;
     background: white;
     border: 1px solid #f1f3f6;
     padding: 4px;
     font-size: 12px;
     font-weight: bold;
     cursor: pointer;
     z-index: 5;
     user-select: none;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
     height: 25px;
     width: 100%;
     text-align: center;

     &.up {
       top: 0;

       svg {
         transform: rotate(90deg);

       }
     }

     &.down {
       bottom: 0;

       svg {
         transform: rotate(-90deg);
       }
     }
   }
 }