 .product-page {
   display: flex;
   gap: 20px;
   padding: 20px;
   margin: 0 70px 0 70px;
   background: white;


   .left-column {
     display: flex;
     //  gap: 15px;
     width: 38%;
     border: 1px solid $bg;

     .thumbnails {
       display: flex;
       flex-direction: column;
       list-style: none;
       padding: 0;
       margin: 0;

       li {
         cursor: pointer;

         img {
           width: 60px;
           height: 60px;
           border: 1px solid #ccc;
           transition: transform 0.2s, border 0.2s;
           padding: 5px;
           object-fit: contain;
          
           &:hover,
           &:active {
             border: 2px solid #2874f0;
           }
         }
       }
     }

     .main-image {
       flex: 1;
       padding: 15px;

       img {
         width: 416px;
         height: 416px;
         object-fit: contain;
       }
     }
   }

   /* RIGHT SIDE (details) */
   .right-column {
     width: 50%;
     padding-left: 10px;

     h1 {
       font-size: 24px;
       margin-bottom: 10px;
     }

     p {
       font-size: 16px;
       margin-bottom: 10px;
     }
   }
 }

 .thumbnail-wrapper {
   position: relative;
   max-height: 416px;
   /* same as main image */
   overflow: hidden;

   .thumbnails {
     overflow-y: auto;
     max-height: 416px;
     scrollbar-width: none;
     /* hide default scrollbar */
     -ms-overflow-style: none;

     &::-webkit-scrollbar {
       display: none;
     }
   }

   .arrow {
     position: absolute;
     left: 50%;
     transform: translateX(-50%);
     background: white;
     border: 1px solid #ccc;
     padding: 4px;
     font-size: 12px;
     font-weight: bold;
     cursor: pointer;
     z-index: 5;
     user-select: none;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
     width: 60px;
     height: 24px;

   }
 }