.z1ALTt {
    max-width: 1260px;
    margin: 0 auto;

    ._48O0EI {
        width: 100%;
        position: relative;
    }

    .JxFEK3 {
        margin: 0 auto;
        min-width: 978px;
        max-width: 1680px;
        padding: 8px;
    }

    .DOjaWF.YJG4Cf {
        flex-flow: row;
    }

    .DOjaWF.gdgoEp {
        display: flex;
        flex-flow: column;

        .BqiVJF {
            border-top: 1px solid #f0f0f0;
            background: #fff;
            padding: 16px 22px;
            box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, .1);
            text-align: right;
        }

    }


    .BqiVJF {
        border-top: 1px solid #f0f0f0;
        background: #fff;
        padding: 16px 22px;
        box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, .1);
    }

    .c\+N-fo {
        text-align: right;
    }

    .QqFHMw._7Pd1Fp {
        width: auto;
        background: #fb641b;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
        border: none;
        color: #fff;
        padding: 16px 30px;
        min-width: 250px;
        text-transform: uppercase;
        border-radius: 2px;
        font-size: 16px;
        font-weight: 500;
        position: relative;
        display: inline-block;
        transition: box-shadow .2s ease;
        vertical-align: super;
        cursor: pointer;
        outline: none;

    }

    .MfqIAz {
        position: sticky;
        top: 64px;
        bottom: 0;
        z-index: 2;
        align-self: flex-start;
    }

    .gnoSpt {
        background-color: #fff;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;

        ._8cG2Zv {
            display: flex;
            align-items: center;
            height: 58px;
            color: #111112;
            font-size: 16px;

            .oSBuY3 {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .e1Z\+OY {
            border-bottom: 3px solid #2a55e5;
            padding: 17px;
            text-align: center;
            justify-content: center;
            align-items: center;
            width: 50%;
            color: #2a55e5;
            cursor: pointer;
            font-size: 16px;

        }

        .oSBuY3 {
            flex: 1;

            .IFZV3u {
                cursor: pointer;
            }
        }
    }


    .PEuQti {
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 12px 16px;
        background: #fff;
        box-shadow: 0 0 2px rgba(0, 0, 0, .12);
        border-radius: 4px;
        align-items: center;
        user-select: none;

        .jm4LXW {
            display: flex;
            justify-content: center;
            flex: 3;
            flex-direction: column;
            font-size: 14px;

            .Wz06yo {
                display: flex;
                flex-direction: row;
                align-items: center;

                .iH5ZGp {
                    color: #111112;
                    line-height: 20px;
                    margin-right: 5px;
                }

                .hEkdHX {
                    max-width: 250px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    .FE67T0 {
                        color: #111112;
                        line-height: 20px;
                        font-weight: 500;
                    }
                }
            }
        }

        .ycQ2gC {
            display: flex;
            flex: 1;
            justify-content: center;
            flex-direction: column;
            align-items: flex-end;

            .x96Ssm {
                display: flex;
                justify-content: flex-end;

                .KlGwJl {
                    border: 1px solid #e0e0e0;
                    background-color: #fff;
                    border-radius: 4px;
                    padding: 10px 16px;
                    color: #2874f0;
                    cursor: pointer;
                    font-weight: 500;
                }
            }
        }
    }

    .eGXlor {
        border-top: 1px solid #f0f0f0;
        padding: 24px;
        position: relative;
        background: #fff;
        max-width: 950px;
        border-top: 1px solid #f0f0f0 !important;
    }

    .eGXlor:last-child {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
    }

    ._8X-K8p {
        display: flex;



        .x9LoV\+ {
            padding: 0 24px 12px;
            vertical-align: top;
            min-height: 112px;
            flex: 1 1;
            overflow: hidden;
            max-width: 460px;

            .gE4Hlh {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                height: 20px;

                .T2CNXf {
                    font-size: 16px;
                    color: #212121;
                    line-height: 1;
                    display: inline;
                }
            }

            .KTpSwS {
                display: block;
                color: #878787;
                font-size: 13px;
                height: 20px;

                .iKaYqx {
                    height: 15px;
                    vertical-align: middle;
                    margin: 0 6px;
                    text-decoration: none;
                    color: inherit;
                    border: none;
                    outline: none;
                }
            }

            .VU2A2V {
                svg {
                    vertical-align: middle;
                }
            }

            .re6bBo {
                font-size: 18px;
                font-weight: 500;
                color: #212121;
                display: inline-block;
                margin-right: 8px;
                margin-top: 18px;
            }

            .VU2A2V {
                display: inline-block;
                color: #388e3c;
                font-weight: 500;

                .zPI\+St {
                    display: inline-block;
                    cursor: pointer;

                    .V7YGsc {
                        margin-left: 4px;
                        vertical-align: middle;
                        line-height: 1;
                        position: relative;
                        top: -1px;
                    }
                }
            }

            .zDQhzG {
                display: flex;
                margin-top: 4px;

                .S8Gg9h {
                    color: #111112;
                    font-size: 14px;
                    font-weight: 400;
                }

                ._3Fk2hu {
                    display: flex;
                    align-items: center;
                    margin: 1px 0 1px 8px;
                    height: 18px;
                    width: 18px;

                    .wvIX4U {
                        width: 100%;
                        position: relative;

                        .gqcSqV {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;
                            filter: none !important;

                            ._4qMbau {
                                position: absolute;
                                top: 0;
                                left: 0;
                                bottom: 0;
                                right: 0;
                                max-width: 100%;
                                max-height: 100%;
                                transition: opacity .5s linear;
                                opacity: 1;
                                margin: auto;
                                width: 100%;
                            }

                            .xTaogf {
                                position: absolute;
                                height: 100%;
                                margin: auto;
                                width: 100%;
                                top: 0;
                                left: 0;
                                bottom: 0;
                                right: 0;
                                max-width: 100%;
                                max-height: 100%;
                                transition: opacity .5s linear;
                            }
                        }
                    }
                }
            }


        }


        .p04umj {

            .EjzVkx {
                margin-bottom: 5px;
            }

            .mMljzm {
                margin-bottom: 10px;
                list-style: none;
            }

            .lHfxO4 {
                font-size: 14px;
                color: #212121;
                line-height: 1.4;
            }
        }

    }

    .k6cAZE {
        font-size: 14px;
        line-height: 16px;
        margin-top: 2px;

        .yiggsN {
            display: inline;
            white-space: pre-wrap;
        }

        ._4WELSP {
            position: relative;
            margin: 0 auto;
            display: inline-block;
            padding-top: 0 !important;
            vertical-align: middle;

            .DByuf4 {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
                margin: auto;
                opacity: 1;
                max-width: 100%;
                max-height: 100%;
            }
        }
    }

    .pk3Guc {
        .JefwG6 {
            display: block;
            padding-top: 10px;
        }

        .ocFP1P {
            width: var(--cart-item-image-width);
            text-align: center;
            display: inline-block;

            .p2uyH2 {
                display: flex;
                color: #212121;
                align-items: center;

                .LcLcvv {
                    width: 28px;
                    height: 28px;
                    background: linear-gradient(#fff, #f9f9f9);
                    display: inline-block;
                    border: 1px solid #c2c2c2;
                    cursor: pointer;
                    font-size: 16px;
                    border-radius: 50%;
                    padding-top: 1px;
                    line-height: 1;
                }

                .LcLcvv:disabled {
                    color: #c2c2c2;
                    border-color: #e0e0e0;
                    cursor: auto;
                }

                .atHedL {
                    display: inline-block;
                    padding: 3px 6px;
                    width: 46px;
                    height: 28px;
                    border-radius: 2px;
                    background-color: #fff;
                    border: 1px solid #c2c2c2;
                    margin: 0 5px;

                    .p6sArZ {
                        border: none;
                        width: 100%;
                        font-size: 14px;
                        font-weight: 500;
                        vertical-align: middle;
                        text-align: center;
                    }
                }
            }
        }

        .f-DWwy {
            padding-left: 24px;
            display: inline-block;
            clear: both;

            .sBxzFz {
                display: inline-block;
                text-transform: uppercase;
                box-shadow: none;
                outline: 0;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
                margin-right: 25px;
            }
        }

    }

    .xbXxvd.AD4IU0 {
        display: flex;
        flex-direction: column;
        background: #f4f8ff;
        padding: 16px;
        border: 1px solid #e0e0e0;
        margin: 10px 0 16px;

        .wMF3E1 {
            font-size: 16px;
            margin-bottom: 16px;
            font-weight: 500;
        }

        .PJyfQD {
            border-radius: 3px;
            display: flex;
            flex: 1;
            justify-content: space-between;

            .-x0hTW {
                margin-right: 24px;
                position: relative;
                margin: 0 auto;
                margin-right: 24px;

                .DByuf4 {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 0;
                    margin: auto;
                    opacity: 1;
                    max-width: 100%;
                    max-height: 100%;
                }
            }


            .z7o4xP {
                flex: 1;

                .XobVdy {
                    font-weight: 400;
                    font-size: 16px;
                    flex: 0 0 242px;
                    text-align: left;
                    line-height: 24px;
                }

                .nQUAML {
                    display: block;
                    color: #878787;
                    font-size: 14px;
                    height: 20px;
                }

                .eApd7i {
                    display: flex;
                    flex-direction: row;
                }

                .Z7SGho {
                    margin: 12px 0 4px;

                    .Nx9bqj {
                        display: inline-block;
                        font-size: 16px;
                        font-weight: 500;
                        color: #212121;
                    }

                    .yRaY8j {
                        display: inline-block;
                        margin-left: 8px;
                        text-decoration: line-through;
                        font-size: 14px;
                        color: #878787;
                    }

                    .UkUFwK {
                        display: inline-block;
                        margin-left: 8px;
                        color: #388e3c;
                        font-size: 13px;
                        letter-spacing: -.2px;
                        font-weight: 500;
                    }
                }

                .k6cAZE {
                    font-size: 14px;
                    line-height: 16px;
                    margin-top: 2px;
                }
            }

            .AGzJZR {
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
            }
        }
    }

    ._0aGRQ7 {
        text-align: left;
        line-height: 20px;
        padding: 8px 20px 0 0;

        .NUYMlx {
            color: #2874f0;
            margin-left: 5px;
            cursor: pointer;
        }
    }

    .AGzJZR {
        display: flex;

        .eTWN7O {
            position: relative;
            background-color: #ff9f00;
            font-size: 14px;
            padding: 16px 40px;
            color: #fff;
            border-radius: 3px;
            min-width: 180px;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            transition: box-shadow .2s ease;
            vertical-align: super;
            cursor: pointer;
            outline: none;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
            border: 1px solid #e0e0e0;
            cursor: pointer;

            &:hover {
                box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .12);
            }
        }
    }

    ._4WELSP {
        position: relative;
        margin: 0 auto;

        .DByuf4 {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            margin: auto;
            opacity: 1;
            max-width: 100%;
            max-height: 100%;
        }

    }

    .qF1kuI {
        display: inline-block;
        padding-top: 0 !important;
        vertical-align: middle;
    }


    .DOjaWF {
        .jmf23e {
            position: relative;
            width: 100%;
            display: inline-block;
            vertical-align: top;
        }

        .kQCHPX {
            background: $white-clor;
            border-radius: 2px;
            min-height: 47px;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
        }

        .WMMwb0 {
            display: block;
            text-transform: uppercase;
            padding: 13px 24px;
            font-weight: $font-weight-500;
            color: $fl-color;
            min-height: 47px;
            border-radius: 2px 2px 0 0;
            border-bottom: 1px solid #f0f0f0;
            font-size: var(--font-size-16);
        }

        ._3j-e05 {
            padding: 0 24px;
            border-bottom: 1px solid #f0f0f0;
            font-size: $space-16;
        }

        .HRZecL {
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
            align-items: flex-start;

            ._59Raj\+ {
                max-width: 68%;
            }
        }

        .HRZecL ._59Raj\+ .k9WPjB {
            display: flex;
            align-items: center;
        }

        .rVnkyn {
            margin-left: 8px;
            min-height: 16px;
            min-width: 16px;
        }

        .wvIX4U {
            width: 100%;
            position: relative;

            .gqcSqV {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                filter: none !important;
            }
        }

        .CwNMnK._4qMbau {
            width: 100px;
            opacity: 1;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            max-width: 100%;
            max-height: 100%;
            transition: opacity .5s linear;
        }

        .xTaogf {
            opacity: 0;
            height: 100px;
            width: 100px;
            filter: blur(15px);
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            max-width: 100%;
            max-height: 100%;
            transition: opacity .5s linear;
        }

        ._6HMXbu {
            color: #388e3c;
        }

        .rVnkyn {
            margin-left: 8px;
            min-height: 16px;
            min-width: 16px;
        }

        .uJ4ZKF {
            border-top: 1px dashed #e0e0e0;
            font-weight: 500;
            font-size: 18px;

            .PWd9A7 {
                display: flex;
                justify-content: space-between;
                margin: 20px 0;
                align-items: center;

                .V2UaYI {
                    max-width: 68%;
                }

                .cthO4- {
                    display: flex;
                    align-items: center;
                }
            }
        }

        .IbVNxe {
            border-radius: 2px;
            border-top: 1px dashed #e0e0e0;
            padding: 12px 0;
            font-size: 16px;
            display: flex;
            justify-content: space-between;
            color: #388e3c;
            font-weight: 500;
        }


        .c7tODH {
            margin: 4px 15px 8px;
            text-align: center;

            .XNAVU4 {
                font-size: 14px;
                text-align: left;
                display: inline-block;
                color: #878787;
                padding: 5px 0 5px 35px;
                background: url("https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/shield_b33c0c.svg") no-repeat 0 50%;
                background-size: 25px 31px;
                font-weight: 500;
            }
        }

    }

}