<!-- category -->
<app-product-category-menu></app-product-category-menu>
<div class="product-page">
  <!-- left -->
  <div class="main-lf-shu">
    <div class="left-column">
      <div class="thumbnail-wrapper">
        <div class="arrow up" (click)="scrollThumbnails(-1)">
          <svg width="8" height="15" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg" class="ZpyMwK">
            <path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="#000" class=""></path>
          </svg>
        </div>

        <ul class="thumbnails" id="thumbnailList">
          @for(img of images;track img){
          <li [class.active]="$index === activeIndex" (mouseover)="hoverThumbnail($index)">
            <img [src]="img" alt="">
          </li>
          }
        </ul>

        <div class="arrow down" (click)="scrollThumbnails(1)">
          <svg width="8" height="15" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg" class="ZpyMwK">
            <path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="#000" class=""></path>
          </svg>
        </div>
      </div>

      <div class="main-image" (mousemove)="zoomImage($event)" (mouseleave)="hideZoom()" (mouseleave)="onMouseLeave()"
        (mouseenter)="onMouseEnter($event)">
        <div class="sh-cur">
          <img id="mainImg" (mousemove)="onMouseMove($event)" [src]="getMainImageUrl(mainImage)" alt="Product Image"
            class="image">
          <div class="lens" *ngIf="lensVisible" [ngStyle]="{
            'top.px': lensY,
            'left.px': lensX,
            'width.px': lensWidth,
            'height.px': lensHeight
          }">

          </div>
        </div>
      </div>

      <!-- action buttons -->
    </div>
    <div class="product-actions">
      <button class="add-to-cart">
        <svg width="16" height="16" viewBox="0 0 16 15" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M15.32 2.405H4.887C3 2.405 2.46.805 2.46.805L2.257.21C2.208.085 2.083 0 1.946 0H.336C.1 0-.064.24.024.46l.644 1.945L3.11 9.767c.047.137.175.23.32.23h8.418l-.493 1.958H3.768l.002.003c-.017 0-.033-.003-.05-.003-1.06 0-1.92.86-1.92 1.92s.86 1.92 1.92 1.92c.99 0 1.805-.75 1.91-1.712l5.55.076c.12.922.91 1.636 1.867 1.636 1.04 0 1.885-.844 1.885-1.885 0-.866-.584-1.593-1.38-1.814l2.423-8.832c.12-.433-.206-.86-.655-.86"
            fill="#fff"></path>
        </svg>
        Add to Cart
      </button>
      <button class="buy-now">Buy Now</button>
    </div>
  </div>

  <!-- right -->
  <div class="right-column">
    <div class="zoom-box" *ngIf="zoomVisible" [ngStyle]="{
      'background-image': 'url(' + getMainImageUrl(mainImage) + ')',
      'background-position': backgroundPosition,
      }">
    </div>
    @if(false){
    <ng-container>
      <div class="sale-timer d-flex align-items-center shadow-sm">
        <img src="https://rukminim2.flixcart.com/fk-p-flap/80/80/image/2f0415aea7ac7b24.jpg?q=90" alt="Sale"
          class="sale-img ms-2 me-2">
        <div class="sale-info">
          <span class="sale-text d-block">Sale ends in</span>
          <span class="countdown">
            <span id="hours">04 hrs :</span>
            <span id="minutes">35 mins :</span>
            <span id="seconds">02 secs</span>
          </span>
        </div>
      </div>
    </ng-container>
    }


    <!-- breadcrumb -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb pt-2">
        <li class="breadcrumb-item">
          <a href="/" class="text-decoration-none">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a class="text-decoration-none">Mobiles & Accessories</a>
        </li>
        <li class="breadcrumb-item">
          <a class="text-decoration-none">Mobiles</a>
        </li>
        <li class="breadcrumb-item">
          <a class="text-decoration-none">Samsung Mobiles</a>
        </li>

      </ol>
    </nav>
    <!-- name and rating -->
    <div class="product-list">
      <div class="product-card">
        <div class="product-container">
          <div class="product-details">
            <h3 class="product-name m-0">Samsung Galaxy S24 FE 5G (Mint, 256 GB) (8 GB RAM)</h3>
            <div class="rating-box">
              <span class="rating-value">
                4.5
                <span class="star">★</span>
              </span>
              <span class="rating-count">
                20,000 Ratings
                <span class="and">&amp;</span>
                15,000 Reviews
              </span>
            </div>
          </div>

        </div>

      </div>
    </div>

    <!-- Offer -->
    <div class="_2lX4N0"><span>Extra ₹20000 off</span></div>

    <!-- price  -->
    <div class="price-block pt-2">
      <div class="price-info">
        <div class="price-row">
          <div class="current-price">₹45,999</div>
          <div class="original-price">₹65,999</div>
          <div class="discount-badge"><span>30% off</span></div>
        </div>
      </div>


      <div class="price-icon-container">
        <div class="price-icon">
          <div id="price-info-icon">
            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <defs>
                <circle id="b" cx="8" cy="8" r="8"></circle>
                <filter id="a" width="130%" height="130%" x="-15%" y="-8.8%" filterUnits="objectBoundingBox">
                  <feMorphology in="SourceAlpha" operator="dilate" radius=".4" result="shadowSpreadOuter1">
                  </feMorphology>
                  <feOffset dy="1" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                  <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation=".5"></feGaussianBlur>
                  <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1">
                  </feComposite>
                  <feColorMatrix in="shadowBlurOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0">
                  </feColorMatrix>
                </filter>
              </defs>
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(2 1)">
                  <use fill="#000" filter="url(#a)" xlink:href="#b"></use>
                  <use fill="#FCFCFC" stroke="#000" stroke-opacity=".3" stroke-width=".8" xlink:href="#b"></use>
                </g>
                <text fill="#1D1D1D" font-family="Roboto-Medium, Roboto" font-size="11" font-weight="400" opacity=".59"
                  transform="translate(2 1)">
                  <tspan x="6.6" y="12.2">i</tspan>
                </text>
              </g>
            </svg>
          </div>

          <!-- Price details popover -->
          <div class="price-details-popover">
            <div class="price-details-wrapper">
              <div class="price-details-title">Price details</div>
              <div class="price-details-body">

                <div class="price-row">
                  <div class="price-label">
                    Maximum Retail Price
                    <div class="price-sub-label">(incl. of all taxes)</div>
                  </div>
                  <div class="price-value">₹65,999.00</div>
                </div>

                <div class="price-row sale-price">
                  <div class="price-label">Selling Price</div>
                  <div class="price-value">₹65,999.00</div>
                </div>

                <div class="price-row special-price-row">
                  <div class="price-label special-label">Special Price</div>
                  <div class="price-value special-value">₹45,999.00</div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- delivery -->
    <div class="protect-delivery-container">
      <div class="protect-fee">
        <span class="fee-amount">+ ₹149 Protect Promise Fee</span>
        <span class="learn-more">Learn more</span>
      </div>
      <div class="delivery-info">
        <div class="delivery-text">Secure delivery by 6 Oct, Monday</div>
      </div>
    </div>

    <!-- bank offer -->
    <div class="offers-container mb-3">
      <div class="offers-header">Available offers</div>

      <div class="offers-list">
        <div class="offer-item">
          <img
            src="https://rukminim2.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90"
            alt="offer icon" class="offer-icon">
          <div class="offer-text">
            <span class="offer-title">Bank Offer</span>
            <span class="offer-description">5% cashback on Axis Bank Flipkart Debit Card up to ₹750</span>
            <span class="offer-tnc">T&amp;C</span>
          </div>
        </div>

        <div class="offer-item">
          <img
            src="https://rukminim2.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90"
            alt="offer icon" class="offer-icon">
          <div class="offer-text">
            <span class="offer-title">Bank Offer</span>
            <span class="offer-description">5% cashback on Flipkart SBI Credit Card upto ₹4,000 per calendar
              quarter</span>
            <span class="offer-tnc">T&amp;C</span>
          </div>
        </div>

        <div class="offer-item">
          <img
            src="https://rukminim2.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90"
            alt="offer icon" class="offer-icon">
          <div class="offer-text">
            <span class="offer-title">Bank Offer</span>
            <span class="offer-description"> cashback on Flipkart Axis Bank Credit Card upto ₹4,000 per statement
              quarter</span>
            <span class="offer-tnc">T&amp;C</span>
          </div>
        </div>

        <div class="offer-item">
          <img
            src="https://rukminim2.flixcart.com/www/36/36/promos/06/09/2016/c22c9fc4-0555-4460-8401-bf5c28d7ba29.png?q=90"
            alt="offer icon" class="offer-icon">
          <div class="offer-text">
            <span class="offer-title">Special Price</span>
            <span class="offer-description">Get extra ₹20,000 off</span>
            <span class="offer-tnc">T&amp;C</span>
          </div>
        </div>
      </div>

      <button class="view-more-btn">View 1 more offer</button>
    </div>

    <!-- exchanges offer -->
    <div class="exchange-options-container">
      <label class="exchange-option" style="background-color: #f5faff;">
        <input type="radio" name="exchange-options" checked>
        <div class="radio-custom"></div>
        <div class="option-text d-flex flex-row justify-content-between">
          <div class="option-title">Buy without Exchange</div>
          <div class="option-price">₹45,999</div>
        </div>
      </label>

      <label class="exchange-option disabled">
        <input type="radio" name="exchange-options" disabled>
        <div class="radio-custom"></div>
        <div class="option-text">
          <div class="title-price">
            <div class="option-title">Buy with Exchange</div>
            <div class="option-price">up to ₹35,410 off</div>
          </div>
          <div class="exchange-info">Enter pincode to check if exchange is available</div>
        </div>
      </label>
    </div>

    <!-- warranty-box -->

    <div class="warranty-box d-flex align-items-center py-3 mb-3">
      <!-- Image -->
      <div class="warranty-img me-4">
        <img
          src="https://rukminim2.flixcart.com/image/160/160/prod-fk-cms-brand-images/9a95c8afa921a5b7f48302b1cb9d994a0a5e9f5b718ebab4affbae158c9a0068.jpg?q=90"
          alt="Warranty" class="img-fluid">
      </div>

      <!-- Text -->
      <div class="warranty-text">
        <span class="main-text">
          1 Year Manufacturer Warranty for Device and 6 Months for In-Box Accessories
        </span>
        <span class="know-more">Know More</span>
      </div>
    </div>


    <!-- Product Color Options -->
    <div class="row option-row">
      <div class="col-md-6 d-flex p-0">
        <span class="option-title">Color</span>
        <ul class="option-list d-flex flex-wrap mb-0">
          <li class="active"><img
              src="https://rukminim2.flixcart.com/image/144/144/xif0q/mobile/u/r/t/-original-imahfw4ahyk6qfxe.jpeg?q=50"
              alt="Blue"></li>
          <li><img
              src="https://rukminim2.flixcart.com/image/144/144/xif0q/mobile/g/d/g/-original-imahfw4ahckefvxe.jpeg?q=50"
              alt="Graphite"></li>
          <li><img
              src="https://rukminim2.flixcart.com/image/144/144/xif0q/mobile/4/p/o/-original-imahfw4aasyhherc.jpeg?q=50"
              alt="Mint"></li>
        </ul>
      </div>

      <!-- Storage Column -->
      <div class="col-md-6 d-flex">
        <span class="option-title">Storage</span>
        <ul class="option-list d-flex flex-wrap mb-0 wxy">
          <li class="active">128 GB</li>
          <li>256 GB</li>
        </ul>
      </div>
    </div>

    <!-- delivery-box -->
    <div class="delivery-box row m-0">
      <div class="col-12 col-md-6 d-flex align-items-center p-0">
        <span class="delivery-title">Delivery:</span>
        <div class="ufyef">
          <form class="delivery-form d-flex">
            <input type="text" class="form-control" placeholder="Enter Delivery Pincode" maxlength="6" value="">
            <span class="i40dM4">Check</span>
          </form>

        </div>
      </div>
      <div class="col-12 p-0">
        <div class="delivery-msg text-danger">Currently out of stock in this area.</div>
      </div>
    </div>

    <!-- Highlights -->
    <div class="row highlights-payment">
      <div class="col-6 d-block">
        <div class="section">
          <div class="section-title">Highlights</div>
          <ul class="section-list wytuew">
            <li>8 GB RAM | 256 GB ROM</li>
            <li>17.02 cm (6.7 inch) Full HD+ Display</li>
            <li>50MP + 12MP | 10MP Front Camera</li>
            <li>4700 mAh Battery</li>
            <li>Exynos 2400e Processor</li>
          </ul>
        </div>
      </div>

      <!-- Easy Payment Options -->
      <div class="col-6 d-block">
        <div class="section">
          <div class="section-title">Easy Payment Options</div>
          <div class="HQijVm">
            <ul class="section-list">
              <li>No cost EMI starting from ₹7,667/month</li>
              <li>Net banking &amp; Credit/ Debit/ ATM card</li>
            </ul>
            <div class="view-details">View Details</div>
          </div>
        </div>
      </div>
    </div>


  </div>


</div>