<app-product-category-menu></app-product-category-menu>
<div class="product-page">
  <div class="left-column">
    <div class="thumbnail-wrapper">
      <div class="arrow up" (click)="scrollThumbnails(-1)">
        <svg width="8" height="15" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg" class="ZpyMwK">
          <path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="#000" class=""></path>
        </svg>
      </div>

      <ul class="thumbnails" id="thumbnailList">
        @for(img of images;track img){
        <li [class.active]="$index === activeIndex" (mouseover)="hoverThumbnail($index)">
          <img [src]="img" alt="">
        </li>
        }
      </ul>

      <div class="arrow down" (click)="scrollThumbnails(1)">
        <svg width="8" height="15" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg" class="ZpyMwK">
          <path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="#000" class=""></path>
        </svg>
      </div>
    </div>

    <div class="main-image" (mousemove)="zoomImage($event)" (mouseleave)="hideZoom()">>
      <img id="mainImg" [src]="getMainImageUrl(mainImage)" alt="Product Image">
    </div>
  </div>


  <div class="right-column">
    <div class="zoom-box" *ngIf="zoomVisible"
      [ngStyle]="{'background-image': 'url(' + getMainImageUrl(mainImage) + ')', 'background-position': backgroundPosition}">
    </div>
    <h1>Samsung Galaxy S24 FE 5G</h1>
    <p>128 GB, Blue Color</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <p>More details...</p>
    <p>More details...</p>
  </div>
</div>