<app-product-category-menu></app-product-category-menu>
<div class="products">
    <!-- Filter -->
    <app-filter [categories]="categories" [filterOptions]="filterOptions"></app-filter>

    <!-- Product List -->
    <div class="product-list">
        @for (product of products; track product.id) {
        <div class="product-card">
            <a [routerLink]="['/product', product.id]" target="_blank">
                <div class="product-container">
                    <!-- Left: Product Image -->
                    <div class="product-image">
                        @if(product.isBestSeller){
                        <div class="badge">Bestseller</div>
                        }
                        <img [src]="product.imageUrl" [alt]="product.name" />
                        <div class="compare-box">
                            <label>
                                <input type="checkbox" />
                                <span>Add to Compare</span>
                            </label>
                        </div>
                    </div>
                    <div class="add-cart">❤</div>

                    <!-- Right: Product Details -->
                    <div class="product-details">
                        <h3 class="product-name">{{ product.name }}</h3>
                        <div class="rating-box">
                            <span class="rating-value">
                                {{ product.averageRating }}
                                <span class="star">★</span>
                            </span>
                            <span class="rating-count">
                                {{ product.ratingsCount | number }} Ratings
                                <span class="and">&amp;</span>
                                {{ product.reviewsCount | number }} Reviews
                            </span>
                        </div>


                        <ul class="specs">
                            @for (spec of product.spec; track spec) {
                            <li>{{ spec }}</li>
                            }
                        </ul>


                    </div>
                    <!-- Right: Price Details -->
                    <div class="price-details">
                        <div class="pricing">
                            <span class="price">₹{{ product.price | number}}</span>

                        </div>
                        @if(product.mrp){
                        <span class="original-price">₹{{ product.mrp | number}}</span>
                        }
                        @if(product.discountPercent){
                        <span class="discount">{{ product.discountPercent }}% off</span>
                        }
                        @if(product.stock < 10) { <div class="stock">Only few left
                    </div>
                    }
                    @if(product.exchangeOffer){
                    <div class="exchange-offer">Upto <span class="offer-price">₹{{ product.exchangeOffer |
                            number}}</span> Off on Exchange</div>
                    }
                    @if(product.bankOffer){
                    <div class="bank-offer">Bank Offer</div>
                    }
                </div>
        </div>
        </a>
    </div>
    }

    

    <div class="looking-for">
        <div class="para">
            Did you find what you were looking for?
        </div>
        <div class="yes">Yes</div>
        <div class="no">No</div>
    </div>
</div>

</div>