<app-product-category-menu></app-product-category-menu>
<div class="products">
    <!-- Filter -->
    <div class="filter-card">
        <p class="filter-heading">Filters</p>

        <section class="filter-categories">
            <div class="filter-categories-header">CATEGORIES</div>

            <ul class="filter-categories-list">
                @for(category of categories; track category.id){
                <li class="filter-categories-list-item"
                    [ngClass]="{ 'filter-categories-list-item--dark': category.highlight }">
                    <span class="arrow">
                        <svg width="10" height="10" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z"></path>
                        </svg>
                    </span>
                    <a class="link" [href]="category.link">{{ category.name }}</a>
                </li>
                }
            </ul>
        </section>

        <section class="filter-card-brand">
            <div class="filter-card-brand-header">Brand</div>
            <ul class="filter-card-brand-list">
                <li class="filter-card-brand-list-item">
                    <input type="checkbox" id="brand1" class="brand-checkbox" />
                    <label for="brand1">realme</label>
                </li>
                <li class="filter-card-brand-list-item">
                    <input type="checkbox" id="brand2" class="brand-checkbox" />
                    <label for="brand2">Samsung</label>
                </li>
                <li class="filter-card-brand-list-item">
                    <input type="checkbox" id="brand3" class="brand-checkbox" />
                    <label for="brand3">Apple</label>
                </li>
                <li class="filter-card-brand-list-item">
                    <input type="checkbox" id="brand4" class="brand-checkbox" />
                    <label for="brand4">POCO</label>
                </li>
            </ul>

            <div class="filter-card-brand-more">145 more</div>
        </section>
    </div>

    <!-- Product List -->
    <div class="product-list">
        @for (product of products; track product.id) {
        <div class="product-card">
            <a [routerLink]="['/product', product.id]" target="_blank">
                <div class="product-container">
                    <!-- Left: Product Image -->
                    <div class="product-image">
                        @if(product.badge){
                        <div class="badge">{{ product.badge }}</div>
                        }
                        <img [src]="product.imageUrl" [alt]="product.name" />
                        <div class="compare-box">
                            <label>
                                <input type="checkbox" />
                                <span>Add to Compare</span>
                            </label>
                        </div>
                    </div>
                    <div class="add-cart">❤</div>

                    <!-- Right: Product Details -->
                    <div class="product-details">
                        <h3 class="product-name">{{ product.name }}</h3>
                        <div class="rating-box">
                            <span class="rating-value">
                                {{ product.rating }}
                                <span class="star">★</span>
                            </span>
                            <span class="rating-count">
                                {{ product.ratings | number }} Ratings
                                <span class="and">&amp;</span>
                                {{ product.reviews | number }} Reviews
                            </span>
                        </div>


                        <ul class="specs">
                            @for (spec of product.specs; track spec) {
                            <li>{{ spec }}</li>
                            }
                        </ul>


                    </div>
                    <div class="product-details">
                        <div class="pricing">
                            <span class="price">₹{{ product.price | number}}</span>

                        </div>
                        @if(product.originalPrice){
                        <span class="original-price">₹{{ product.originalPrice | number}}</span>
                        }
                        @if(product.discount){
                        <span class="discount">{{ product.discount }}</span>
                        }
                        @if(product.stock < 10){ <div class="stock">Only few left
                    </div>
                    }
                    @if(product.exchangeOffer){
                    <div class="exchange-offer">Upto <span class="offer-price">₹{{ product.exchangeOffer |
                            number}}</span> Off on Exchange</div>
                    }
                    @if(product.bankOffer){
                    <div class="bank-offer">{{ product.bankOffer }}</div>
                    }
                </div>
        </div>
        </a>
    </div>
    }
</div>

</div>