<app-product-category-menu></app-product-category-menu>
<app-back-to-top></app-back-to-top>
<div class="products">
    <!-- Filter -->
    <app-filter [categories]="categories" [filterOptions]="filterOptions"></app-filter>

    <!-- Product List -->
    <div class="product-list">
        @for (product of products; track product.id) {
        <div class="product-card">
            <a [routerLink]="['/customer/product', product.id]">
                <div class="product-container">
                    <!-- Left: Product Image -->
                    <div class="product-image">
                        @if(product.isBestSeller){
                        <div class="badge">Bestseller</div>
                        }
                        <img [src]="product.imageUrl" [alt]="product.name" />
                        <div class="compare-box">
                            <label>
                                <input type="checkbox" />
                                <span>Add to Compare</span>
                            </label>
                        </div>
                    </div>
                    <div class="add-cart">❤</div>

                    <!-- Right: Product Details -->
                    <div class="product-details">
                        <h3 class="product-name">{{ product.name }}</h3>
                        <div class="rating-box">
                            <span class="rating-value">
                                {{ product.averageRating }}
                                <span class="star">★</span>
                            </span>
                            <span class="rating-count">
                                {{ product.ratingsCount | number }} Ratings
                                <span class="and">&amp;</span>
                                {{ product.reviewsCount | number }} Reviews
                            </span>
                        </div>


                        <ul class="specs">
                            @for (spec of product.spec; track spec) {
                            <li>{{ spec }}</li>
                            }
                        </ul>


                    </div>
                    <!-- Right: Price Details -->
                    <div class="price-details">
                        <div class="pricing">
                            <span class="price">₹{{ product.price | number}}</span>

                        </div>
                        @if(product.mrp){
                        <span class="original-price">₹{{ product.mrp | number}}</span>
                        }
                        @if(product.discountPercent){
                        <span class="discount">{{ product.discountPercent }}% off</span>
                        }
                        @if(product.stock < 10) { <div class="stock">Only few left
                    </div>
                    }
                    @if(product.exchangeOffer){
                    <div class="exchange-offer">Upto <span class="offer-price">₹{{ product.exchangeOffer |
                            number}}</span> Off on Exchange</div>
                    }
                    @if(product.bankOffer){
                    <div class="bank-offer">Bank Offer</div>
                    }
                </div>
        </div>
        </a>
    </div>
    }



    <div class="looking-for">
        <div class="question-row">
            <span class="para">
                Did you find what you were looking for?
            </span>
            <div class="buttons">
                <div (click)="selectFeedback('yes')" [class.active]="selected === 'yes'" class="yes">Yes</div>
                <div (click)="selectFeedback('no')" [class.active]="selected === 'no'" class="no">No</div>
            </div>
        </div>
        @if(selected){
            <div class="bottom-line"></div>
        }
        <div class="feedback-no" *ngIf="selected === 'no'">
            <div class="option-heading">
                Choose an option that best describes your problem.
            </div>
            <div class="select-wrapper" [class.open]="isOpen">
                <select class="select-bl" required (focus)="isOpen = true" (blur)="isOpen = false">
                    <option disabled selected value="">Please select an issue</option>
                    <option value="5">Above my budget</option>
                    <option value="2">Irrelevant results</option>
                    <option value="11">Cannot be delivered at my pincode</option>
                    <option value="12">Not enough variety or choice</option>
                    <option value="3">Sort/Filter option isn't helpful</option>
                    <option value="4">Out of stock</option>
                    <option value="8">Not available on Flipkart</option>
                </select>
            </div>
        </div>

        @if(selected){
        <div class="feedback-yes">
            @if(selected === 'yes'){
            <div class="textarea-heading">We’d love to hear from you about our search experience. Your feedback will
                help us improve Flipkart for everyone.</div>
            }@else{
                <div class="textarea-heading">
                    Please share any more details around the issue. Your feedback will help us improve Flipkart for everyone.
                </div>
            }
            <textarea class="textarea" rows="8" placeholder=""></textarea>
            <button (click)="submitFeedback()">Submit</button>
        </div>
        }
    </div>


</div>