<div class="z1ALTt">
    <div class="JxFEK3 _48O0EI">
        <div class="col-12 DOjaWF YJG4Cf">
            <div class="DOjaWF gdgoEp" style="flex-grow: 1; overflow: visible;">
                <div class="DOjaWF gdgoEp col-12" style="box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;">
                    <div class="cPHDOP col-12" style="padding: 0px 0px 10px;">
                        <div class="gnoSpt">
                            <div class="_8cG2Zv">
                                <a class="oSBuY3">
                                    <div class="IFZV3u _844jJT e1Z+OY">Shopkar (2)</div>
                                </a>
                                <a class="oSBuY3">
                                    <div class="IFZV3u">Grocery</div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="cPHDOP col-12" style="padding: 0px 0px 10px;">
                        <div class="PEuQti">
                            <div class="jm4LXW">
                                <div class="Wz06yo">
                                    <div class="iH5ZGp">Deliver to: </div>
                                    <div class="hEkdHX">
                                        <span class="FE67T0">Bangalore - 560036</span>
                                    </div>
                                </div>
                            </div>
                            <div class="ycQ2gC">
                                <div class="x96Ssm"><button class="KlGwJl">Change</button></div>
                            </div>
                        </div>
                    </div>

                    <div class="cPHDOP col-12">
                        <div class="eGXlor pk3Guc">
                            <div class="_8X-K8p"><a><span>
                                        <div class="_4WELSP" style="height: 112px; width: 112px;">

                                            <img loading="lazy" class="DByuf4" alt=""
                                                src="https://rukminim2.flixcart.com/image/224/224/xif0q/mobile/j/7/f/-original-imahft5gfgwpt6pr.jpeg?q=90">
                                        </div>
                                    </span>
                                </a>
                                <div class="x9LoV+">
                                    <div class="gE4Hlh">
                                        <a class="T2CNXf QqLTQ-">Apple
                                            iPhone 17 (Lavender, 256 GB)
                                        </a>
                                    </div>
                                    <div class="KTpSwS">Seller:TrueComRetail
                                        <img class="iKaYqx"
                                            src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/fa_9e47c1.png">
                                    </div>
                                    <span class="LAlF6k re6bBo">₹82,900</span>
                                    <div class="VU2A2V">
                                        <div class="zPI+St" id="offers-LSTMOBHFN6YKGBPYJZDEZPBYP">
                                            <svg width="14" height="14" xmlns="http://www.w3.org/2000/svg"
                                                class="V7YGsc">
                                                <g fill="none">
                                                    <path d="M-1-1h16v16H-1"></path>
                                                    <path
                                                        d="M7 0C3.136 0 0 3.136 0 7s3.136 7 7 7 7-3.136 7-7-3.136-7-7-7zm.7 10.5H6.3V6.3h1.4v4.2zm0-5.6H6.3V3.5h1.4v1.4z"
                                                        fill="#388e3c" class=""></path>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="zDQhzG">
                                        <span class="S8Gg9h">+ ₹149 Protect Promise Fee</span>
                                        <div class="_3Fk2hu">
                                            <div class="wvIX4U" style="padding-top: 100%;">
                                                <div class="_8z-Twi _4bzjfU gqcSqV" style="padding-top: 100%;">
                                                    <img class="_4qMbau CwNMnK" alt=""
                                                        src="https://rukminim2.flixcart.com/www/400/400/promos/12/06/2023/d08c56e9-603b-4316-88cd-2184e1a4abcd.png?q=50">
                                                    <img class="xTaogf _3iTqAS"
                                                        src="https://rukminim2.flixcart.com/www/100/100/promos/12/06/2023/d08c56e9-603b-4316-88cd-2184e1a4abcd.png?q=50"
                                                        alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="k6cAZE">
                                        <div>
                                            <div class="yiggsN">Or Pay </div>
                                            <div class="yiggsN">₹82,800 + </div>
                                            <div class="_4WELSP qF1kuI" style="height: 12px; width: 12px;">
                                                <img loading="lazy" class="DByuf4" alt=""
                                                    src="https://rukminim2.flixcart.com/www/100/100/promos/18/07/2019/4aebbd99-7478-411e-aced-265e7722d18d.png?q=90">
                                            </div>
                                            <div class="yiggsN"> 100</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p04umj">
                                    <ul class="EjzVkx p-0">
                                        <li class="mMljzm">
                                            <div class="lHfxO4">Delivery by Wed Oct 8</div>
                                        </li>
                                    </ul>
                                    <ul class="-uWaXu p-0"></ul>
                                </div>
                            </div>
                            <div class="d+mEZR JefwG6">
                                <div class="ocFP1P">
                                    <div class="p2uyH2"><button class="LcLcvv" disabled=""> – </button>
                                        <div class="atHedL"><input type="text" class="p6sArZ" value="1"></div><button
                                            class="LcLcvv"> + </button>
                                    </div>
                                </div>
                                <div class="_5jL4tC gRTtwM f-DWwy">
                                    <div class="sBxzFz">Save for later</div>
                                    <div class="sBxzFz">Remove</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="cPHDOP col-12">
                        <div class="eGXlor pk3Guc">
                            <div class="_8X-K8p">
                                <a>
                                    <span>
                                        <div class="_4WELSP" style="height: 112px; width: 112px;">

                                            <img loading="lazy" class="DByuf4" alt=""
                                                src="https://rukminim2.flixcart.com/image/224/224/xif0q/mobile/j/7/f/-original-imahft5gfgwpt6pr.jpeg?q=90">
                                        </div>
                                    </span>
                                </a>
                                <div class="x9LoV+">
                                    <div class="gE4Hlh">
                                        <a class="T2CNXf QqLTQ-">Apple
                                            iPhone 17 (Lavender, 256 GB)
                                        </a>
                                    </div>
                                    <div class="KTpSwS">Seller:TrueComRetail
                                        <img class="iKaYqx"
                                            src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/fa_9e47c1.png">
                                    </div>
                                    <span class="LAlF6k re6bBo">₹82,900</span>
                                    <div class="VU2A2V">
                                        <div class="zPI+St" id="offers-LSTMOBHFN6YKGBPYJZDEZPBYP">
                                            <svg width="14" height="14" xmlns="http://www.w3.org/2000/svg"
                                                class="V7YGsc">
                                                <g fill="none">
                                                    <path d="M-1-1h16v16H-1"></path>
                                                    <path
                                                        d="M7 0C3.136 0 0 3.136 0 7s3.136 7 7 7 7-3.136 7-7-3.136-7-7-7zm.7 10.5H6.3V6.3h1.4v4.2zm0-5.6H6.3V3.5h1.4v1.4z"
                                                        fill="#388e3c" class="">
                                                    </path>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="zDQhzG">
                                        <span class="S8Gg9h">+ ₹149 Protect Promise Fee</span>
                                        <div class="_3Fk2hu">
                                            <div class="wvIX4U" style="padding-top: 100%;">
                                                <div class="_8z-Twi _4bzjfU gqcSqV" style="padding-top: 100%;">
                                                    <img class="_4qMbau CwNMnK" alt=""
                                                        src="https://rukminim2.flixcart.com/www/400/400/promos/12/06/2023/d08c56e9-603b-4316-88cd-2184e1a4abcd.png?q=50">
                                                    <img class="xTaogf _3iTqAS"
                                                        src="https://rukminim2.flixcart.com/www/100/100/promos/12/06/2023/d08c56e9-603b-4316-88cd-2184e1a4abcd.png?q=50"
                                                        alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="k6cAZE">
                                        <div>
                                            <div class="yiggsN">Or Pay </div>
                                            <div class="yiggsN">₹82,800 + </div>
                                            <div class="_4WELSP qF1kuI" style="height: 12px; width: 12px;">
                                                <img loading="lazy" class="DByuf4" alt=""
                                                    src="https://rukminim2.flixcart.com/www/100/100/promos/18/07/2019/4aebbd99-7478-411e-aced-265e7722d18d.png?q=90">
                                            </div>
                                            <div class="yiggsN"> 100</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="p04umj">
                                    <ul class="EjzVkx p-0">
                                        <li class="mMljzm">
                                            <div class="lHfxO4">Delivery by Wed Oct 8</div>
                                        </li>
                                    </ul>
                                    <ul class="-uWaXu p-0"></ul>
                                </div>
                            </div>

                            <!-- protection -->


                            <div class="xbXxvd AD4IU0">
                                <div class="wMF3E1">Complete Mobile Protection</div>
                                <div class="PJyfQD">
                                    <div class="_4WELSP -x0hTW" style="height: 72px; width: 72px;">
                                        <img loading="lazy" class="DByuf4" alt=""
                                            src="https://rukminim2.flixcart.com/image/144/144/xif0q/damage-protection-plan/5/n/w/-original-imahggwzfaxhggx8.jpeg?q=90">
                                    </div>
                                    <div class="z7o4xP">
                                        <div class="XobVdy">Complete Mobile Protection</div>
                                        <div class="nQUAML">6 Months</div>
                                        <div class="eApd7i"></div>
                                        <div class="hl05eU Z7SGho">
                                            <div class="Nx9bqj">₹299</div>
                                            <div class="yRaY8j">₹649</div>
                                            <div class="UkUFwK">
                                                <span>53% off</span>
                                            </div>
                                        </div>
                                        <div class="k6cAZE">
                                            <div>
                                                <div class="yiggsN">Or Pay

                                                </div>
                                                <div class="yiggsN">₹284 + </div>
                                                <div class="_4WELSP qF1kuI" style="height: 12px; width: 12px;">
                                                    <img loading="lazy" class="DByuf4" alt=""
                                                        src="https://rukminim2.flixcart.com/www/100/100/promos/18/07/2019/4aebbd99-7478-411e-aced-265e7722d18d.png?q=90">
                                                </div>
                                                <div class="yiggsN"> 15</div>
                                            </div>
                                        </div>
                                        <div class="_0aGRQ7">Get brand authorised repairs for all phone damages with
                                            free pickup and drop. If we can't repair it, we will replace it!<a
                                                href="/mobile-complete-protection-bbd--9033-6702-store" class="NUYMlx"
                                                target="_blank" rel="noopener noreferrer">Know More

                                            </a>
                                        </div>
                                    </div>
                                    <div class="AGzJZR">
                                        <button class="QqFHMw eTWN7O">
                                            <span>Add Item</span>
                                        </button>
                                    </div>
                                </div>
                            </div>


                            <div class="d+mEZR JefwG6">
                                <div class="ocFP1P">
                                    <div class="p2uyH2"><button class="LcLcvv" disabled=""> – </button>
                                        <div class="atHedL"><input type="text" class="p6sArZ" value="1"></div><button
                                            class="LcLcvv"> + </button>
                                    </div>
                                </div>
                                <div class="_5jL4tC gRTtwM f-DWwy">
                                    <div class="sBxzFz">Save for later</div>
                                    <div class="sBxzFz">Remove</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>